// Configuration file (omega-for-mumble)

// Text Replacements

  $WindowTitleCheck: true; // Change Window-Title? true/false
  $WindowTitle: "mumble-omega"; // If $WindowTitleCheck == true -> Title of the Mumble-Window.
  $ChatInputPlaceholderCheck: false; // Change ChatInputPlaceholder? true/false
  $ChatInputPlaceholder: "type..."; // If $ChatInputPlaceholderCheck == true -> Title of the Mumble-Window.


// Opacity / Transparency

  $OpacityMainWindow: 1; // Opacity of Main-Window. 0.000000 to 1
  $OpacityConfigWindow: 0.95; // Opacity of Configuration-Window. 0.000000 to 1
  $OpacityConnectWindow: 0.95; // Opacity of Connection-Window. 0.000000 to 1


// Animations

  $ServerListAnimation: false;
  $UserListAnimation: false;
  $DockAnimation: false;

// Layout

  $ButtonLayout: 2; // 0 = Windows; 1 = Mac; 2 = KDE; 3 = Gnome;

// Window Size (for screenshots)

  $FixedWindowSizeMainWindow: false;
  $FixedWindowSizeMainWindowWidth: 890px;
  $FixedWindowSizeMainWindowHeight: 620px;