// Configuration of Preset: default (omega-for-mumble)

$primary-app-bar-background-color: rgba(30,30,30,1); //#1F2332
$primary-app-bar-color: rgba(255,255,255,0.9); //#4A4F65
$primary-background-color: rgba(30,30,30,0.9); //#35394B
$secondary-background-color: rgba(30,30,30,0.8); //#2E3243
$primary-color: rgba(255,255,255,1);
$qslider: #D5355B; // example: #FF9C41
$primary-accent-color: #1DCE73;
$secondary-accent-color: #FFF;
$separator-border: 1px solid rgba(0,0,0,0.2);
$border-radius: 8px;

$font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;

$dummy-font-color: rgba(205, 205, 205, 1);
$dummy-font-color_hover: rgba(225, 225, 225, 1);
$dummy-font-color_selected: rgba(235, 235, 235, 1);
$dummy-font-color_active: rgba(255, 255, 255, 1);
$dummy-font-color_disabled: rgba(50, 50, 50, 1);

$dummy-background-color: rgba(0, 0, 0, 1);
$dummy-background-color_hover: rgba(20, 20, 20, 1);
$dummy-background-color_selected: rgba(30, 30, 30, 1);
$dummy-background-color_active: rgba(50, 50, 50, 1);
$dummy-background-color_alternate: rgba(40, 40, 40, 1);
$dummy-background-color_disabled: rgba(40, 40, 40, 1);

$dummy-border-color: transparent;
$dummy-border-color_hover: rgba(0, 100, 168, 1);
$dummy-border-color_selected: rgba(0, 150, 250, 1);
$dummy-border-color_active: rgba(0, 150, 250, 1);



$debug-color: rgba(0, 255, 0, 1);