// Configuration of Preset: dark

$primary-app-bar-background-color: #1F2332;
$primary-app-bar-color: #4A4F65;
$primary-background-color: #35394B;
$secondary-background-color: #2E3243;
$primary-color: #FFF;
$qslider: #D5355B; // example: #FF9C41
