/*
Error: Undefined variable: "$OpacityMainWindow".
        on line 38 of A:\Dokumente\GitHub\omega-for-mumble\themes\default\stylesheet.scss

33: //
34: 
35: QMainWindow#MainWindow {
36:   qproperty-dockOptions { AnimatedDocks: false; };
37:   //qproperty-animated: $DockAnimation;
38:   qproperty-windowOpacity: $OpacityMainWindow; }
39: 
40: QDialog#ConfigDialog { qproperty-windowOpacity: $OpacityConfigWindow; }
41: 
42: QDialog#ConnectDialog { qproperty-windowOpacity: $OpacityConnectWindow; }
43: 

Backtrace:
A:\Dokumente\GitHub\omega-for-mumble\themes\default\stylesheet.scss:38
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/script/tree/variable.rb:49:in `_perform'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/script/tree/node.rb:50:in `perform'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:384:in `visit_prop'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `map'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `map'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `visit_children'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `block in visit'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:157:in `visit'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:8:in `visit'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/root_node.rb:36:in `css_tree'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/root_node.rb:20:in `render'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:268:in `render'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:404:in `run'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
P:/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
P:/Koala/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
P:/Koala/bin/sass:18:in `load'
P:/Koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$OpacityMainWindow\".\A         on line 38 of A:\Dokumente\GitHub\omega-for-mumble\themes\default\stylesheet.scss\A \A 33: //\A 34: \A 35: QMainWindow#MainWindow {\A 36:   qproperty-dockOptions { AnimatedDocks: false; };\A 37:   //qproperty-animated: $DockAnimation;\A 38:   qproperty-windowOpacity: $OpacityMainWindow; }\A 39: \A 40: QDialog#ConfigDialog { qproperty-windowOpacity: $OpacityConfigWindow; }\A 41: \A 42: QDialog#ConnectDialog { qproperty-windowOpacity: $OpacityConnectWindow; }\A 43: "; }
